body{
  margin: 0 auto;
  padding: 0px;
  width:100%;
  font-family:Hiragino Kaku Gothic ProN;
}


header{
  margin: auto;
  background-color: #FFFFFF;
  height:250px;
  margin-bottom: 50px;
  width:1350px;
}

header h1{
  color: black;
  font-size: 70px;
  line-height: 250px;
  margin-left: 100px;
  text-decoration: overline;
}

.header-left{
  display: flex;
}


.profile{
  border:2px solid gray;
  border-radius: 100px;
  margin: 50px 0 0 90px;
}

@media(max-width:1025px){
  header{
    width:100%;
    }
}




.all{
  height:11500px;
  width:100%;
  background-color: rgba(250,69,0,0.7);
  padding-top:30px;
}

.all-in{
  width: 1350px;
  margin: auto;
  display: flex;
}

.write{
  height:11000px;
  width:65%;
  background-color: #FFFFFF;
  margin-left: 3%;
  margin-top: 70px;
  border-radius:10px;
}

.next{
  float:right;
  font-size: 18px;
  border-radius: 2px;
  background-color: darkgray;
  color:white;
  padding: 5px 7px;
  margin-top:25px;
  margin-right: 50px;
  text-decoration: none;
}

.article{
  display: none;
}


.write h3{
  font-size: 40px;
  color:#000000;
  padding: 80px 0px 30px 80px;
  border-bottom: 3px dotted gray ;
}

.write-table p{
  font-size: 17px;
  padding:0 60px;
}

.write-table p span{
  text-decoration:underline;
}


.table{
  background-color:rgba(255,160,122,0.1);
  border:3px solid #2F4F4F;
  border-radius: 10px;
  color:#000000;
  width:90%;
  margin:50px auto;
  padding: 10px 10px 30px 10px;
}

.table h4{
  padding:0px 0 10px 2%;
  font-size: 20px;
}

.table-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -4%;
}

.number{
  flex: auto;
  width: 20%;
  margin: 0;
  padding: 0px;

}

#none{
  display: none;
}

.number-photo{
  width: 100%;
  margin: 0 auto;
}
.number-photo .photo{
  width: 60%;
}

.number p{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-left: 8%;
  margin-top: 5px;
  margin-bottom: 50px;
  padding: 0;
}


.number a{
  color: purple;
}




.write li{
  list-style: none;
}



@media(max-width:1025px){

  .all{
    overflow: hidden;
    padding: 25px 0;
    height: 35000px;
    background-color: rgba(250,69,0,0.7);
  }
  .all-in{
    width:100%;
    flex-direction: column;
    height: 100%;
    }

  .write{
    width:100%;
    margin: 0 ;
    border-radius: 0px;
    font-size: 20px;
    height:32000px;
  }

  .next{
    float:right;
    font-size: 28px;
    border-radius: 5px;
    background-color: darkgray;
    color:white;
    padding: 13px;
    margin-top:20px;
    margin-right: 30px;
  }

  .home{
    background-color: mediumseagreen;
    margin-right: 40px;
  }

  .write h3{
    font-size: 45px;
  }

  .write-table p{
    font-size: 30px;
    line-height: 50px;
    margin:0;
    padding:25px 15px;
  }

  .table{
    border:5px solid #FF4500;
  }

  .table h4{
    padding: 15px 0 30px 6%;
    font-size: 35px;
  }

  .number{
    width:50%;
    flex: initial;
  }

  .number-photo{
    margin-left: 12%;
    width:100%;
  }

  .number p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 35px;
  }
}



.list{
  padding:10px;
  width:90%;
  margin:70px auto;
  border-radius:20px;
}

.list h5{
  font-size: 30px;
  border-top: 4px solid gray;
  padding-left: 50px;
  padding-top: 30px;
}

.photo{
  margin-left: 50px;
}

.list ul{
  margin:20px 70px;
}

.list ul li{
  padding: 5px 0px;
}

.list ul li p{
  padding: 0;
  margin:0;
  width:100%;
}

.list ul li span{
  font-weight: bold;
}

.list ul li a{
  background-color: darkorange;
  border-radius: 5px;
  text-decoration: none;
  padding: 6px 10px;
  margin-left: 20px;
  color: white;
  font-weight: bold;
  font-size: 13px;
}

#formal{
  background-color: mediumseagreen;
}

.list p{
  margin-left:20px;
  width:85%;
  font-size:15px;
}

#back{
  margin-left:0;
  background-color: lightblue;

}



@media(max-width:1025px){

  .list{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 200px;
  }

  .list .photo{
    width: 60%;
    height: auto;
    padding: 0;
    margin-left: 15%;
    margin-bottom: 30px;
  }

  .list h5{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 47px;
  }

  .list ul{
    margin-left:30px;
  }

  .list ul li{
    font-size: 33px;
    padding-top: 20px;
  }

  .list ul li a{
    font-size: 28px;
    padding: 20px;
    margin-left: 40px;
    border-radius: 5px;
  }

  .list p{
    font-size: 31px;
  }

  #formal{
    margin-left: 60px;
  }

  #tabelog{
    margin-top: 10px;
  }
}



.right{
  width:25%;
  margin-left: 4%;
  margin-top: 60px;
  height: 5000px;
}



.link{
  background-color: white;
  margin-top: 60px;
  border-radius:10px;
  height:auto;
  width: 100%;
  padding-bottom: 30px;
}

.link h4{
  margin:10px;
  padding-top: 10px;
  padding-left: 5px;
  border-bottom:2px solid gray;
}

.link h3{
  padding: 30px 0;
  width:80%;
  margin:40px auto;
  font-size: 23px;
  text-align: center;
  background-color: rgba(255,192,203,0.5);
  border-radius:5px;
}

.link p{
  width:85%;
  text-align: center;
  margin:0 auto;
  text-decoration: underline;
}

.nara h3{
  background-color: rgba(46,139,87,0.2);
}

.kobe h3{
  background-color: rgba(173,216,230,0.5);
}

.insta{
  height: 220px;
  margin:0 auto;
}

.insta p{
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  padding-top:60px;
  padding-bottom: 40px;
}

.insta p a{
  color: white;
  text-decoration:none;
  background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  border-radius: 10px;
  padding: 10px 15px;
}

.insta h2{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}

.insta h2 a{
  text-decoration:underline;
  color: black;
}

.insta h6{
  font-size: 23px;
  text-align: center;
  margin: 0 auto;
  font-weight: normal;
  padding-top: 5px;
}

.blank{
  display: none;
}

@media(max-width:1025px){
  .right{
    height: 3000px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
  }

  .link{
    width:80%;
    margin:100px auto;
    font-size: 32px;
    padding-bottom: 50px;
  }

  .link h3{
    font-size: 34px;
    padding-top: 50px;
    padding-top: 40px;
    letter-spacing: 2px;
    margin: 65px auto;
  }

  .insta{
    height:340px;
  }

  .insta p{
    font-size: 35px;
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .insta p a{
    padding: 15px 25px;
  }

  .insta h2{
    font-size: 40px;
    padding-top: 0px;
  }

  .insta h6{
    font-size: 37px;
  }

  .blank{
    height:80px;
  }

  .blank p{
    text-align: center;
    padding-top: 40px;
    text-decoration: none;
  }

  .blank a{
    font-size: 30px;
    text-decoration: none;
    color: navy;
  }
}

footer{
  background-color: white;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer p{
  text-align: center;
  font-size: 20px;
}
